$theme_color : rgb(23, 112, 179);
$link_color: rgb(114, 185, 237);
$width-medium: 768px;
$width-small: 400px;

div.container {
  margin: 0 auto;
  max-width: 1080px;
}

.link {
  cursor: pointer;
  user-select: none;
}

.button {
  border-radius: 4px;
  padding: 0.5em;
  font-size: 0.95em;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color ease 0.2s;
}

a:link, a:active, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.hide {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.list-enter-active {
  transition: all .2s;
}
// .list-leave-active {
//   transition: all .1s;
// }
.list-enter, .list-leave-active {
  opacity: 0;
}

