$theme_color : rgb(23, 112, 179);
$link_color: rgb(114, 185, 237);
$width-medium: 768px;
$width-small: 400px;

body, button, input, textarea {
  font-family: "Noto Sans CJK", "Noto Sans CJK SC", "Source Han Sans", "Source Han Sans CN", "思源黑体", "思源黑体 CN", "WenQuanYi Micro Hei", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "SimHei", sans-serif;
}

div.container {
  margin: 0 auto;
  max-width: 1080px;
}

.link {
  cursor: pointer;
  user-select: none;
}

.button {
  border-radius: 4px;
  padding: 0.5em;
  font-size: 0.95em;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease 0.2s;
}

a:link, a:active, a:hover, a:visited {
  color: inherit;
  word-break: break-all;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.hide {
  opacity: 0;
  transition: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.list-enter-active {
  transition: all .3s;
}
// .list-leave-active {
//   transition: all .08s;
// }
.list-enter, .list-leave-to {
  opacity: 0;
}

// scroll bar
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border: 0px none #fff;
  transition: all ease 0.1s;
  cursor: pointer;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
::-webkit-scrollbar-thumb:active {
  background: gray;
}

// responsive mixins
@mixin respond-to($media) {
  $break-small: 600px;
  $break-large: 800px;
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}