
button.load-more {
  margin: 5px auto;
  font-size: 0.8em;
  line-height: 16px;
  border-radius: 4px;
  text-align: center; 
  padding: 0.6em 1.0em;
  transition: all ease 0.1s;
  border: none;
  cursor: pointer;
}

div.list-nav {
  text-align: center;
}

button.load-more:focus {
  outline: none;
}

.light-theme {
  button.load-more {
    color: mix($theme_color, black, 90%);
    background: mix($theme_color, white, 15%);
  }
  button.load-more:hover {
    color: mix($theme_color, black, 60%);
    background: mix($theme_color, white, 20%);
  }
}


.dark-theme {
  button.load-more {
    color: gray;
    background: #333;
  }
  button.load-more:hover {
    color: lightgray;
  }
}