@import './global.scss';

div.post-content {
  img {
    max-width: 70%;
    // height: 400px;
    // display: block;
  }

  .attachment {
    display: block;
  }

  .invalid-attachment {
    color: #d00 !important;
    cursor: not-allowed;
  }

  br {
      content: "";
      margin: 2em;
      display: block;
      font-size: 24%;
  }

  blockquote {
    margin: 0;
    padding: 9px 16px 9px 16px;
    border-radius: 5px;
    font-size: 0.95em;
    line-height: 1.5em;
    color: #999;
    br {
      margin: 0em;
    }
  }

  attach, inject {
    display: none;
  }

  p {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }
  table { 
    border-spacing: 0;
    border-collapse: collapse;
  }
  td {
    border-spacing: 0px;
    padding: 5px;
    text-align: center;
  }
  a {
    transition: all linear 0.3s;
  }
  a:hover {
    text-decoration: underline;
  }
  pre.code {
    font-family: Consolas, Courier New, Courier, monospace;
    font-size: 0.9em;
    line-height: 0.8em;
    padding: 1rem 1rem 0.3rem 1rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-x: scroll;
  }
}

.dark-theme div.post-content {
  color: lightgray;
  blockquote {
    background-color: #111;
  }
  td {
    border: 1px solid #444;
  }
  a {
    color: white;
  }

}

.light-theme div.post-content {
  blockquote {
    background-color: mix($theme_color, white, 10%);
  }
  td {
    border: 1px solid mix($theme_color, white, 30%);
  }
  a {
    color: $theme_color;
  }
}